
<style type="text/css">
body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; }
#center { position:absolute; top:50%; left:50%; overflow:hidden; }
</style>
<body>
<div id="center">웹표준과 중앙정렬</div>
</body>
</html>